// Glyphicons font path
$icon-font-path:        "../fonts/";
$roboto: Roboto, sans-serif;
$raleway: Raleway, sans-serif;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$brand-secondary:		#00e9fc;
$dark-grey:				#232323;
